@page "/"
@inherits IndexBase


<div class="card w-50 justify-content-center shadow-lg p-3 mb-5 bg-white rounded">
    <img class="card-img-top img-thumbnail" src="images/app_logo.jpg"/>
    <div class="card-body">
        <input type="text" class="form-control" placeholder="Username"/>
        <input type="password" class="form-control" placeholder="Password"/>
        <div class="text-center">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>